{% extends 'security/layouts/base.html.twig' %}
{% block body %}
    <section class="hold-transition login-page">
        <a href="/" class="login-logo">
            <img src="{{ asset('front-assets/images/logo/dark.svg') }}" width="200" alt="Logo" />
        </a>
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <h3>
                        Connexion
                    </h3>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">
                        Heureux de vous revoir !                   
                                            
                    </p>
                    {% if app.user %}
                            <div class=" mt-4 mb-3">
                                Vous êtes bien connecté en tant :                               
                                {{ app.user.userIdentifier }}
                                ,                                
                                <a href="{{ path('app_logout') }}">
                                    Déconnexion                                     
                                </a>
                            </div>
                    {% else %}
                    <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <div class="input-group mb-3">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email*" required autofocus />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fa fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe*" required />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fa fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Se connecter
                                </button>
                            </div>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger mt-4">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                    </form>
                    {% endif %}

                </div>
            </div>
        </div>

    </section>

{% endblock %}
