{% extends 'admin/layouts/base.html.twig' %}
{% block content %}

    <div class="content-wrapper">
        <!-- Page header -->
        <section class="content-header">
            <div class="container-fluid my-2">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            Ajouter un une alimentation quotidienne                                         
                                                    
                        </h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="{{ path('employe_dailydiet_index') }}" class="btn btn-primary">
                            Retour                                                                
                                                    
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {{ form_start(form) }}

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="animal_id">
                                        Animal                            
                                                                    
                                    </label>
                                    {{ form_widget(form.animal_id, {'attr': {'class': 'form-control nice-select' }}
                                    ) }}                         
                                                            
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="diet">
                                        Nourriture                     
                                                                            
                                    </label>
                                    {{ form_widget(form.diet, {'attr': {'class': 'form-control' }}
                                    ) }}                                                  
                                                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="qty">
                                        Quantité                            
                                                                            
                                    </label>
                                    {{ form_widget(form.qty, {'attr': {'class': 'form-control' }}
                                    ) }}                         
                                                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pb-5 pt-3">

                    <button class="btn btn-primary">
                        {{ button_label|default('Sauvegarder') }}
                    </button>

                    <a href="/admin/dailydiet" class="btn btn-outline-dark ml-3">
                        Annuler                  
                                                                    
                                            
                    </a>
                </div>
                {{ form_end(form) }}

            </div>
        </section>
    </div>
{% endblock %}
