<!-- Begin Sidebar Area -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo -->
    <a href="{{ path('app_admin_dashboard') }}" class="brand-link">
        <img src="{{ asset('front-assets/images/logo/light.svg') }}" width="180" alt="Logo" />
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user -->

        <!-- Begin Sidebar Nav -->
            <nav class="mt-2"> <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('app_admin_dashboard') }}" class="nav-link">
                        <i class="nav-icon fal fa-tachometer-alt-average"></i> 
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                <a href="{{ path('app_user_index') }}" class="nav-link">
                    <i class="nav-icon fal fa-user-cog"></i>
                    <p>
                        Utilisateurs
                    </p>
                </a>
            </li>
            <li class="nav-item">
                    <a href="{{ path('app_opening_index') }}" class="nav-link">
                        <i class="nav-icon fal fa-clock"></i>
                        <p>
                            Horaires d'ouverture
                        </p>
                    </a>
            </li>
            <li class="nav-item">
                    <a href="{{ path('app_service_index') }}" class="nav-link">
                        <i class="nav-icon fal fa-concierge-bell"></i>
                        <p>
                            Services
                        </p>
                    </a>
            </li>
            <li class="nav-item">
                    <a href="{{ path('app_habitat_index') }}" class="nav-link">
                        <i class="nav-icon  fal fa-tree"></i>
                        <p>
                            Habitats
                        </p>
                    </a>
            </li>

            <li class="nav-item  car-dropdown dropdown " aria-expanded="true">
            <a href="#" class="nav-link dropdown-toggle">
                <i class="nav-icon fal fa-paw"></i>
                <p>
                    Animaux
                </p>
            </a>

            <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item ml-4">
                    <a href="{{ path('app_animal_index') }}" class="nav-link">
                        <p>
                            Liste des animaux
                        </p>
                    </a>
                </li>
            
                <li class="nav-item ml-4">
                    <a href="{{ path('app_race_index') }}" class="nav-link">
                        <p>
                            Races
                        </p>
                    </a>
                </li>
            </ul>
        </li>

            <li class="nav-item">
                <a href="{{ path('app_testimonial_index') }}" class="nav-link">
                    <i class="nav-icon fal fa-comment-lines"></i>
                    <p>
                        Témoignages
                    </p>
                </a>
            </li>   
            </ul>
        </nav>
    <!-- sidebar Nav end -->
    </div>
</aside>

<!-- Sidebar Area End -->
