{% extends 'front/layouts/base.html.twig' %}
{% block body %}

    <section class="homepage">
        <!-- Begin Slider Area -->
        <div class="slider-area">
            <!-- Main Slider -->
            <div class="swiper-container home-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height overlay" data-bg-image="{{ asset('front-assets/images/slider/bg/21.jpg') }}">
                            <div class="container">
                                <div class="slide-content text-white">
                                    <h3 class="sub-title">
                                        Bienvenue!                                 
                                    </h3>
                                    <h2 class="title mb-3">
                                        ARCADIA ZOO                                    
                                    </h2>
                                    <p class="short-desc different-width mb-10">
                                        Rencontrez les merveilles du règne animal au Parc Arcadia                                  
                                    </p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom-size lg-size btn-primary" href="/services">
                                            Découvrir                                      
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height overlay" data-bg-image="{{ asset('front-assets/images/slider/bg/22.jpg') }}">
                            <div class="container">
                                <div class="slide-content text-white">
                                    <h3 class="sub-title">
                                        Un monde animal à découvrir                                
                                    </h3>
                                    <h2 class="title mb-3">
                                        ARCADIA ZOO                                  
                                    </h2>
                                    <p class="short-desc different-width mb-10">
                                        Émerveillement garanti à chaque visite                                     
                                    </p>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom-size lg-size btn-primary" href="/occasions">
                                            Découvrir                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                    <div class="slide-inner bg-height overlay" data-bg-image="{{ asset('front-assets/images/slider/bg/23.jpg') }}">
                        <div class="container">
                            <div class="slide-content text-white">
                                <h3 class="sub-title">
                                    La nature, la faune, et vous                                  
                                </h3>
                                <h2 class="title mb-3">
                                    ARCADIA ZOO                                  
                                </h2>
                                <p class="short-desc different-width mb-10">
                                    Voyagez au cœur de la nature avec Parc Arcadia                                    
                                </p>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary" href="/occasions">
                                        Découvrir                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Custom Arrows -->
                <div class="custom-arrow-wrap d-none d-md-block">
                    <div class="custom-button-prev"></div>
                    <div class="custom-button-next"></div>
                </div>
            </div>
        </div>
        <!-- Slider Area End Here -->

        <!-- Begin About Area -->
        <div class="about-area section-space-y-axis-50">
            <div class="container">
                <div class="row  py-5 py-xl-0">
                    <div class="col-lg-6">
                        <div class="title-box">
                            <h2>
                                À propos de                        
                            </h2>
                            <p class="text-primary">
                                ARCADIA ZOO                                  
                            </p>
                        </div>

                        <p class="short-desc mb-0">
                        Situé en Bretagne, près de la forêt de Brocéliande, Parc Arcadia est un zoo emblématique depuis 1960. Nous abritons une grande variété d'animaux dans des habitats conçus pour imiter leur environnement naturel, comme la savane, la jungle et les marais.

                        Nous veillons attentivement au bien-être de nos animaux avec des contrôles vétérinaires quotidiens et une alimentation rigoureusement mesurée. Le zoo, en pleine forme financière, est un véritable fierté pour notre directeur, José, qui a de grandes ambitions pour l’avenir.

                        Venez découvrir la magie de la nature au Parc Arcadia, où chaque visite est une célébration de la faune.
                    </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-img img-hover-effect">
                            <img class="img-full" src="{{ asset('front-assets/images/about/about.jpg') }}" alt="About Banner" />
                        </div>
                    </div>

                </div>
            </div>
        </div>    
        <!-- End About Area -->

          <!-- Begin Services Area -->
        <div class="services-area section-space-y-axis-50">
          <div class="container">
              <div class="title-box">
                  <h2>
                      Nos services                                           
                  </h2>
                  <p class="text-primary">
                      Nous proposons une gamme complète de services                  
                  </p>
              </div>
              <div class="row mt-10">
                  <div class="col-lg-12">
                      <div class="swiper-container service-slider">
                          <div class="swiper-wrapper text-heading">

                              {% for service in services %}
                                  <div class="swiper-slide">
                                      <div class="service-item">
                                          <div class="service-img img-hover-effect">
                                              <a class="img-zoom-effect" href="{{ path('services_details', {"slug": service.slug }) }}">
                                                  {% if service.images|length > 0 %}
                                                      <img
                                                  src="{{ asset('uploads/services/' ~ service.images[0].name) }}" alt="{{ service.title }}" />
                                                      {% else %}
                                                      <img src="{{ asset('admin-assets/images/placeholder.webp') }}" />
                                                  {% endif %}
                                              </a>
                                          </div>
                                          <div class="service-content pt-6">

                                              <h2 class="mb-3">
                                                  <a class="title">
                                                      {{ service.title }}
                                                  </a>
                                              </h2>
                                              <p class="short-desc mb-7">
                                                  {{ service.description|striptags|slice(0, 70) ~ '...' }}
                                              </p>

                                          </div>
                                      </div>
                                  </div>
                              {% endfor %}
                          </div>

                      </div>
                      <!-- Add Arrows -->
                      <div class="service-button-wrap">
                          <div class="service-button-prev">
                              <i class="bi bi-chevron-left"></i>
                          </div>
                          <div class="service-button-next">
                              <i class="bi bi-chevron-right"></i>
                          </div>
                      </div>

                  </div>
              </div>
        </div>
      </div>
      <!-- Services Area End  -->
    </section>
{% endblock %}
