{% extends 'admin/layouts/base.html.twig' %}
{% block content %}

<!-- Begin animal List Section -->
<div class="content-wrapper">
<!-- Page header -->
<section class="content-header">					
    <div class="container-fluid my-2">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Animaux</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="{{ path('app_animal_new') }}" class="btn btn-primary">Ajouter un animal</a>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <div class="input-group input-group" style="width: 250px;">
                        <input type="text" name="table_search" class="form-control float-right search-input" placeholder="Search">
    
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default">
                            <i class="bi bi-search"></i>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0">								
                <table id="animalstable" class="table table-hover text-nowrap search-table">
                    <thead>
                        <tr>
                            <th width="60">ID</th>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Race</th>
                            <th>Habitat</th>
                            <th>Statut de conservation</th>
                            <th>Créé à</th>
                            <th width="100">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for animal in animals %}
                        <tr>
                            <td>{{ animal.id }}</td>
                            <td>
                                {% if animal.images|length > 0  %}
                                <img src="{{ asset('uploads/animals/mini/300x300-' ~ animal.images[0].name) }}" alt="{{animal.name}}" width="50"/>
                                {% else %}
                                <img src="{{ asset('admin-assets/images/placeholder-square.jpeg') }}" width="50"/>
                                {% endif %}
                                
                            </td>
                            <td>{{ animal.name}}</td>
                            <td>{{ animal.RaceId.name }}</td>
                            <td>{{ animal.HabitatId.title }}</td>
                            <td>{{ animal.status }}</td>
                            <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a class="text-info w-4 h-4" href="{{ path('app_animal_edit', {'id': animal.id}) }}"><i class="nav-icon bi bi-pencil-fill"></i></a>
                                <form class="display-inline" method="post" action="{{ path('app_animal_delete', {'id': animal.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
                                     <button class="btn text-danger"><i class="nav-icon bi bi-trash-fill"></i></button>
                                </form>

                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Aucun enregistrement trouvé.</td>
                            <td class="hidden"></td>
                            <td class="hidden"></td>
                            <td class="hidden"></td>
                            <td class="hidden"></td>
                        </tr>
                    {# {% endif %} #}

                         {% endfor %}
                        
                    </tbody>
                </table>										
            </div>
        </div>
    </div>
</section>
</div>
<!-- animal Section End -->

{% endblock %}
